" ================================================================
" Options
" ================================================================

" set system clipboard as default
set clipboard=unnamedplus,unnamed

" Enable pope surround
set surround

" set offset for cursor when scrolling off the screen
set scrolloff=3

" Set search options
set incsearch   " search as characters are entered
set hlsearch    " highlight matches
set ignorecase  " ignore case when searching
set smartcase   " ignore case if search pattern is all lowercase, case-sensitive otherwise

" ================================================================
" Movement
" ================================================================

" Easy movement over folded lines
nnoremap j gj
nnoremap k gk

" Easy navigation between version control changes
nnoremap g; :action VcsShowNextChangeMarker<CR>
nnoremap g, :action VcsShowPrevChangeMarker<CR>

" Easy navigation between functions/methods
nnoremap ] :action MethodDown<CR>
nnoremap [ :action MethodUp<CR>

" Press s to activate AceJump
map s :action AceAction<CR>

" ================================================================
" Editing
" ================================================================

" Escape
inoremap jk <ESC>
inoremap kj <ESC>

" Leader
let mapleader = " "

" Copy until the end of the line
noremap Y y$

" Change vim marks for IDE bookmarks
nnoremap m :action ToggleBookmarkWithMnemonic<CR>
nnoremap ' :action ShowBookmarks<CR>

" Create newlines without entering insert mode
nnoremap go o<Esc>k
nnoremap gO O<Esc>j

" ================================================================
" Actions
" :actionlist [pattern] find IDE actions by pattern name
" ================================================================

map <leader>a :action Annotate<CR>
map <leader>b :action Back<CR>
map <leader>f :action Forward<CR>
map <leader>r :action ChooseRunConfiguration<CR>
map <leader>s :action FileStructurePopup<CR>

" ================================================================
" Version Control
" ================================================================

map <leader>vc :action Vcs.QuickListPopupAction<CR>
map <leader>u :action Vcs.UpdateProject<CR>
map <leader>c :action Vcs.Push<CR>

" ================================================================
" Tools
" ================================================================

map <leader>p :action ActivatePythonConsoleToolWindow<CR>
map <leader>' :action ActivateTerminalToolWindow<CR>
map <leader>l :action Tool_External Tools_pylint<CR>

" ================================================================
" Control .ideavimrc file
" ================================================================

" Edit ideavim config
map <leader>ve :e ~/.ideavimrc<CR>
" Edit ideavim config Win why %HOMEPATH% fails?
map <leader>vew :e /Users/jan.chwiejczak/.ideavimrc<CR>

" Reload .ideavimrc
map <leader>vr :source ~/.ideavimrc<CR>
" Reload .ideavimrc Win
map <leader>vrw :source /Users/jan.chwiejczak/.ideavimrc<CR>
